

html {
    color: #000;
    background: #FFF;
}

header {
margin: 0 auto;
width:100%;
/* min-width: 1200px;
max-width: 1200px; */
}

.head-container {
  height: 75px;
  position: relative;
  margin: 0 auto;
  width:1200px;
  }

.head-logo-container {
  left: 0px;
  position: absolute;
}

.head-right-container {
  height: 73px;
  position: absolute;
  left: 180px;
  top: 7px;
  width: 620px;

}

.head-search-container {
  height: 73px;
  position: absolute;
  left: 608px;
  top: 19px;
  width: 620px;
}

.head-phone-container {
  position: absolute;
  top: 15px;
  left: -12px;
}

.phone-logo {
  background-image: url("../img/telephone.png");
  background-repeat: no-repeat;
  padding: 5px 9px 5px 7px;
}

.phone-logo div {
  margin-left: 35px;
  color: #666666;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 9px;
  text-transform: uppercase;
}

div.phone-number {
  color: #231F20;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.3px;
  height: 29px;
  margin-bottom: -6px;
}

nav {
  /* margin: 0 auto 30px;
  min-width: 1200px; */
  background-repeat: repeat-x;
  background-position: 0% 0%;
  background-attachment: scroll;
  background-image:  url("../img/bg-menubar.png");
  background-size: auto auto;
  background-origin: padding-box;
  background-clip: border-box;

}

.menubar ul {
  padding: 1em;
  margin: 10px auto 30px;
  width:1200px;
}

.menubar a:hover {background: #b19040;}

.menubar li {
  display: inline;
  padding: 0 3px 0 3px;
  text-align: center;
}

.menubar li a {
    color: #231f20;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -0.2px;
    line-height: 19px;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
}

.search-container {
  color: #231F20;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.4px;
  line-height: 29px;
  margin-left: 0;
  text-transform: none;
}

.search-form {
  position: relative;
  left:0px;
  width: 200px;
  margin: 0 auto;
}

.search-form input,button{
  border: none;
  outline: none;
  border-radius: 3px;  
}

.search-form input {
  width: 200px;
  height: 42px;
  background: #F9F0DA;
  padding-left: 15px;
}

.search-form button {
  background-image: url("../img/search.png");
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

footer {
  margin: 0 auto;
  width:100%;
  background-image: url("../img/bg-footer.png");
  background-repeat: no-repeat;
  background-position: left bottom;
 }
  
/* .footer-container {
  margin: 55px auto;
  width:1200px;
  position: relative;
} */

.b-footer {
  margin: 0 auto;
  height: 100px;
  width: 1200px;
}

.b-width-middle {
  max-width: 1200px;
}

.b-footer-inner {
  max-width: 1200px;
  min-width: 980px;
  margin: 0 auto;
  position : relative;
}

.b-footer .b-footer-line {
  height: 4px;
  width: 100%;
  background-image: url("../img/bg-foot-line.png");
  background-repeat: repeat-x;
}

.b-contacts-container {
  margin-top: 5px;
}

.b-contacts p, .b-contacts a, .b-contacts {
  color: #666666;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 11px;
  letter-spacing: -0.1px;
  line-height: 7px;
}

.b-copyright-container {
  position: absolute;
  right: 0px;
  top: 5px;
}

.b-copyright {
  color: #666666;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 11px;
  letter-spacing: 0px;
  line-height: 17px;
}

aside{
  float: right;
}