<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>RnK</display-name>

  <context-param>
    <param-name>rnk-storage-path</param-name>
    <param-value>/opt/tomcat/bin/xml</param-value>
  </context-param>
  <context-param>
    <param-name>restore-at-startup</param-name>
    <param-value>Y</param-value>
  </context-param>
  <context-param>
    <param-name>ws-update-timeout</param-name>
    <param-value>10</param-value>
  </context-param>
  <context-param>
    <param-name>stats-token</param-name>
    <param-value>rnk.sharaban.17d6f53c215d491babefc51afe085a4a</param-value>
  </context-param>

  <servlet>
    <servlet-name>Main page</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main page</servlet-name>
    <url-pattern>/main/*</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>User-Agent filter</filter-name>
    <filter-class>rnk.l10.filters.UserAgentFilter</filter-class>
    <async-supported>true</async-supported>
    <init-param>
      <param-name>user-agent-msie</param-name>
      <param-value>10</param-value>
    </init-param>
    <init-param>
      <param-name>user-agent-firefox</param-name>
      <param-value>45</param-value>
    </init-param>
    <init-param>
      <param-name>user-agent-chrome</param-name>
      <param-value>50</param-value>
    </init-param>
    <init-param>
      <param-name>user-agent-opera</param-name>
      <param-value>38</param-value>
    </init-param>

  </filter>

  <filter-mapping>
    <filter-name>User-Agent filter</filter-name>
    <servlet-name>Main page</servlet-name>
  </filter-mapping>

  <servlet>
    <servlet-name>display statistics</servlet-name>
    <servlet-class>rnk.l10.servlets.StatsReportServlet</servlet-class>

    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>display statistics</servlet-name>
    <url-pattern>/stats/report/*</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>freemarker</servlet-name>
    <servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>
    <!--
      Init-param documentation:
      https://freemarker.apache.org/docs/api/freemarker/ext/servlet/FreemarkerServlet.html
    -->
    <!-- FreemarkerServlet settings: -->
    <init-param>
      <param-name>TemplatePath</param-name>
      <param-value>classpath:/</param-value>
    </init-param>
    <init-param>
      <param-name>NoCache</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>ExceptionOnMissingTemplate</param-name>
      <!-- true => HTTP 500 on missing template, instead of HTTP 404. -->
      <param-value>true</param-value>
    </init-param>

    <!-- FreeMarker engine settings: -->
    <init-param>
      <param-name>incompatible_improvements</param-name>
      <param-value>2.3.28</param-value>
    </init-param>
    <init-param>
      <param-name>template_exception_handler</param-name>
      <!-- Use "html_debug" during development! -->
      <!--<param-value>rethrow</param-value>-->
      <param-value>html_debug</param-value>
    </init-param>
    <init-param>
      <param-name>template_update_delay</param-name>
      <!-- Use 0 during development! Consider what value you need otherwise. -->
      <param-value>30 s</param-value>
    </init-param>
    <init-param>
      <param-name>default_encoding</param-name>
      <!-- The encoding of the template files: -->
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>output_encoding</param-name>
      <!-- The encoding of the template output; Note that you must set
           "ResponseCharacterEncodring" to "fromTemplate" for this to work! -->
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>locale</param-name>
      <!-- Influences number and date/time formatting, etc. -->
      <param-value>ru_RU</param-value>
    </init-param>
    <init-param>
      <param-name>number_format</param-name>
      <param-value>0.##########</param-value>
    </init-param>

    <load-on-startup>1</load-on-startup>
    <async-supported>true</async-supported>
  </servlet>

  <servlet-mapping>
    <servlet-name>freemarker</servlet-name>
    <url-pattern>*.ftl</url-pattern>
    <!-- HTML and XML auto-escaped if incompatible_improvements >= 2.3.24: -->
    <url-pattern>*.ftlh</url-pattern>
    <url-pattern>*.ftlx</url-pattern>
  </servlet-mapping>

  <security-role>
    <role-name>*</role-name>
  </security-role>


  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Админка</web-resource-name>
      <url-pattern>/main/admin/*</url-pattern>
      <url-pattern>/stats/report/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>FreeMarker MVC Views</web-resource-name>
      <url-pattern>*.ftl</url-pattern>
      <url-pattern>*.ftlh</url-pattern>
      <url-pattern>*.ftlx</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <!-- Nobody is allowed to visit these directly. -->
    </auth-constraint>
  </security-constraint>

  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>rnk-realm</realm-name>
    <form-login-config>
      <form-login-page>/main/login</form-login-page>
      <form-error-page>/main/loginerror</form-error-page>
    </form-login-config>
  </login-config>

  <filter>
    <filter-name>Character Encoding Filter</filter-name>
    <filter-class>rnk.l10.filters.SetCharacterEncodingFilter</filter-class>
    <async-supported>true</async-supported>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Character Encoding Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <url-pattern>*.html</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
</web-app>
