html {
    color: #000;
    background: #FFF;
    background-color: rgb(255, 255, 255);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto auto;
    background-origin: padding-box;
    background-clip: border-box;
}

header {
margin: 0 auto;
min-width: 1200px;
max-width: 1200px;
}

nav {
  margin: 0 auto 30px;
  background: url(../img/bg-menubar.png);
  min-width: 1200px;
}

.head-container {
  position: relative;
  height: 153px;
}

.menubar ul {
  padding: 1em;
}

.menubar a:hover {background: #b19040;}

.menubar li {
  display: inline;
  padding: 0 3px 0 3px;
  text-align: center;
}

.menubar li a {
    color: #231f20;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -0.2px;
    line-height: 19px;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
}
