
.menuPanel{
    /*min-width:600pt;*/
    /*max-width:1000pt;*/
    /*width:1000pt;*/
}



.search_form {
    height: 30px;
    cursor: text;
}

.search_btn {
    width: 30px;

    background-image: url("/rnk/static/img/search.png");
    position: absolute;
    cursor: pointer;
}
.search_box {
    width:370px;
}


.logoImg{
    width:200px ;
    height:100px ;
}

.logoPanel{
    position:relative;
    height:100px;
    width:200px;
}


.panelmargins{
    margin: 5px 5px 5px 5px;
}

.dockLayoutPanel > div {
    overflow: visible  !important;
}

.rightFlowPanel  > *{
    display: block;
    height : 150px;
}

.mainDeckPanel {
    min-height: 500pt;
    max-width: 900pt;
    margin: 5px 5px 5px 5px;

}


.footerPanel > div{
    position : relative;
}

.currencies {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ffffff;
}


.currencies table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ffffff;
}

.currencies table caption {
    background-color: #444444;
}

.currencies table thead{
    background-color: #666666;
}

.currencies table tbody{
    background-color: #888888;
    text-align: center;
}

.news table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ffffff;
}

.news table caption {
    background-color: #444444;
}

.news table thead{
    background-color: #666666;
}

.news table tbody{
    background-color: #888888;
    text-align: center;
}


.loginpanel{
.   width: 320px;
    margin: 7em auto;
    padding: 16px 16px 40px 16px;
}

@external gwt-Label;
.loginpanel .gwt-Label {
    color: #777;
    font-size: 13px;
}

.logininput {
    font-size: 24px;
    width: 97%;
    padding: 3px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    color: #555;
    text-align: right;
}

.loginform {
    margin: 8px 8px 8px 8px;
    padding: 16px 16px 40px 16px;
    font-weight: normal;
    -moz-border-radius: 11px;
    -khtml-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 5px;
    background: #333;
    border: 1px solid #e5e5e5;
    /*-moz-box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;*/
    /*-webkit-box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;*/
    /*-khtml-box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;*/
    /*box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;*/
    font: 11px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans",sans-serif;
}

.loginsubmitcontainer{
    width : 100%;
    height:100%;
}

.loginsubmit {
    background: #333;
    color: #aaa;
    font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans",sans-serif;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    padding: 3px 10px;
    border: none;
    font-size: 12px;
    border-width: 1px;
    border-style: solid;
    -moz-border-radius: 11px;
    -khtml-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    cursor: pointer;
    text-decoration: none;
    margin-top: -3px;
}

.adminpanel{
    margin: 8px 8px 8px 8px;
    padding: 16px 16px 40px 16px;
    font-weight: normal;
    -moz-border-radius: 11px;
    -khtml-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 5px;
    background: #333;
    border: 1px solid #e5e5e5;

    /*width: 560pt;*/
    height:400pt;
}

@external gwt-Label;
.adminpanel .gwt-Label {
    color: #777;
    font-size: 13px;
}

.admingrid{
    /*width:600pt;*/
    height:400pt;
}

.admingrid table{
    color: #111111;
}