
.menuPanel{
    /*min-width:600pt;*/
    /*max-width:1000pt;*/
    /*width:1000pt;*/
}



.search_form {
    height: 30px;
    cursor: text;
}

.search_btn {
    width: 30px;

    background-image: url("/rnk/static/img/search.png");
    position: absolute;
    cursor: pointer;
}
.search_box {
    width:370px;
}


.logoImg{
    width:200px ;
    height:100px ;
}

.logoPanel{
    position:relative;
    height:100px;
    width:200px;
}


.leftMenuPanel {
    background-repeat: repeat-x;
    background-position: 0% 0%;
    background-attachment: scroll;
    background-image:  url("/rnk/static/img/bg-menubar.png");
    background-size: auto auto;
    background-origin: padding-box;
    background-clip: border-box;

}

.dockLayoutPanel > div {
    overflow: visible  !important;
}

.rightFlowPanel  > *{
    display: block;
    height : 150px;
}

.mainDeckPanel {
    min-height: 400pt;
}


.footerPanel > div{
    position : relative;
}

.currencies {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ffffff;
}


.currencies table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ffffff;
}

.currencies table caption {
    background-color: #444444;
}

.currencies table thead{
    background-color: #666666;
}

.currencies table tbody{
    background-color: #888888;
    text-align: center;
}
