
.menuPanel{
    /*min-width:600pt;*/
    /*max-width:1000pt;*/
    /*width:1000pt;*/
}



.search_form {
    height: 30px;
    cursor: text;
}

.search_btn {
    width: 30px;

    background-image: url("/rnk/static/img/search.png");
    position: absolute;
    cursor: pointer;
}
.search_box {
    width:370px;
}


.menuItem{
    /*height: 36pt;*/
    /*color : goldenrod !important;*/
    /*background-color: rosybrown !important;*/
    /*transition: height 1s;*/
    /*-moz-transitio                                                                         n: height 1s;!*  Firefox 4 *!*/
    /*-webkit-transition: height 1s; !* Safari and Chrome *!*/
    /*-o-transition: height 1s; !* Opera  *!*/
}

.dockLayoutPanel > div {
    overflow: visible  !important;
}

.rightFlowPanel  > *{
    display: block;
    height : 150px;
}

.mainDeckPanel {
    min-height: 300pt;
}


.footerPanel > div{
    position : relative;

}


